.rules__navigation_buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navigation_button{
    text-decoration: none;
    margin-bottom: 15px;
    padding: 10px;
    color: darkblue;
    background-color: rgba(0,0,225,0.3);
    border: 2px solid rgba(0,0,225,0.5);
    font-size: 15px;
}
.navigation_button:hover{
    color: blue;
    border: 2px solid blue;
}
.login__content{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.login__data_names{
    text-align: left;
    padding: 5px;
}
.cards_design{
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.card_design{
    width: 170px;
    height: 230px;
    background-size: 100% 100% ;
    border-radius: 9%;
    box-sizing: border-box;
}
.card_design:hover{
    border: 5px solid darkblue;
}
.card_design_1, .front-1{
    background-image: url("blueCard.png");
    border: 1px solid darkblue;
}
.card_design_2, .front-2{
    background-image: url("blackCard.png");
    border: 1px solid black;

}
.card_design_3, .front-3{
    background-image: url("redCard.png");
    border: 1px solid darkred;
}
.active{
    border: 5px solid darkblue;
}
.settings__complexity{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;
}
.settings__complexity_position{
    display: flex;
    justify-content: center;
}
.settings__complexity_hover:hover{
    color: blue;
}
.main_page__user_data{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.flip {
    -webkit-perspective: 800;
    width: 170px;
    height: 230px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    /*background: black;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}
.cardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
}